body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 12px;
}

#header {
margin-bottom: 32px;
align-items: center
}

h1 {
font-weight: 400;
font-size: 36px;
padding-bottom: 0px;
}

h2 {
font-weight: 400;
font-size: 32px;
border-bottom: 1px solid gray;
padding-bottom: 8px;
}

h2.header-title {
font-size: 18px;
border-bottom: none;
margin-bottom: 10px;
}

h3 {
font-weight: 400;
}

#footer {
margin-top: 64px;
align-items: center
}
